.card{


    font-family: "Roboto", sans-serif; 
    background-color: rgb(243, 243, 243);
    width: 800px;
    height: auto;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
   
body{
  margin: 20px;
}